<ng-container *ngFor="let chat of chats">
  <section *ngIf="chat.sender == 'user'" class="user-question">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex align-items-start">
            <img src="assets/images/user.png" alt="">
            <div class="content">
              <h6 class="m-0">
                {{chat.data.answer}}
              </h6>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section *ngIf="chat.sender == 'bot'" class="user-answer">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex align-items-start">
            <img src="assets/images/comments.png" alt="">
            <div class="content">
              <p>{{chat.data.answer}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>


<div class="container pt-3 pb-3">
  <div class="row">
    <div class="col-11">
      <div class="textarea">
        <textarea [(ngModel)]="question" [ngModelOptions]="{standalone: true}" placeholder="Type a new question (e.g. Where I find the current piano syllabuses?)"></textarea>
        <img (click)="sendMessage()" src="assets/images/send.png" alt="">
      </div>
    </div>
    <div class="col-1">
      <a href="javascript:void(0)" (click)="onClear()">Clear chat</a>
    </div>
  </div>
</div>
